apt-xapian-index==0.47
chardet==2.3.0
defusedxml==0.4.1
docutils==0.12
gdevilspie===0.0-svn-
lxml==3.4.0
numpy==1.8.2
pbr==1.8.1
pexpect==3.2
Pillow==2.6.1
pycrypto==2.6.1
pycups==1.9.63
pycurl==7.19.5
Pygments==2.0.1
pygobject==3.14.0
pysmbc==1.0.15.3
python-apt==0.9.3.12
python-debian==0.1.27
python-debianbts==1.11
pyxdg==0.25
reportbug==6.6.3
reportlab==3.1.8
roman==2.0.0
six==1.10.0
SOAPpy==0.12.22
stevedore==1.9.0
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.26.0
wstools==0.4.3
